body
{
background-image: url("pages.png");
background-size: cover;
width: 1200px;
repeat: no-repeat;
font-family: Arial;
}

h1
{
font-family: Elephant;
color: #000000; 
text-align: center;
  padding: 60px 0px 0px 20px;
  }

h2
{
  font-family: Elephant;
  color: #000000;
  padding: 10px 50px;
  text-align: left;
}

/*unvisited link*/
a:link
{
  color: #420420;
}

/*visited link*/
a:visited
{
  color: #C86734;
}

a:hover 
{
  background-color: #86B7C5;
}

/*Table of contents page*/

 
.tableofcontents
{
  font-family: Elephant;
  font-color: #3f3f3f;
  font-size: 32px;
  float: right;
}

  #TOCimage
{
  width: 30%;
   position: relative;
  left: 75px;
}
