body
{
background-image: url("pages.png");
background-size: cover;
width: 1000px;
repeat: no-repeat;
font-family: Arial;
}

h1
{
font-family: Bookman;
color: #000000; 
position: relative;
  left: 150px;
  top: 125px;
  width: 400px;
  
  }

h2
{
  font-family: Bookman;
  color: #000000;
  padding: 10px 10px;
  position: relative;
  left: 650px;
}

/*unvisited link*/
a:link
{
  color: #420420;
}

/*visited link*/
a:visited
{
  color: #C86734;
}

a:hover 
{
  background-color: #86B7C5;
}

/*Table of contents page*/

 
.tableofcontents
{
  font-family: Bookman;
  font-color: #3f3f3f;
  font-size: 32px;
  padding: 10px 10px;
  position: relative;
  left: 650px;
}

  img
{
  width: 40%;
   position: relative;
  left: 100px;
}
